.hamburger {
  height: 20px;
  width: 30px;
  cursor: pointer;
  display: none;
  .ham {
    width: 100%;
    height: 5px;
    background: black;
    margin: 3px 0;
  }
}

@media screen and (max-width: 425px) {
  .hamburger {
    display: block;
  }
}
