.login {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background-image: url('../../assets/blank\ copy.png');
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0;
  position: relative;

  .form-wrapper {
    width: 400px;
    border: 1px solid #fff;
    -webkit-box-shadow: 3px 3px 5px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 4px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 4px #ccc;
    padding: 10px;
    border-radius: 10px;

    h2 {
      text-align: center;
      text-shadow: currentColor;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 350px;
      margin: 10px;

      input {
        display: block;
        border: 0;
        border-bottom: 1px solid grey;
        margin: 10px 0;
        height: 30px;
        padding: 10px;
        &:focus {
          outline: 0;
          box-shadow: 3px 3px 5px 3px #ccc;
          border-radius: 5px;
        }
      }
    }
    .password-reset {
      display: block;
      text-align: right;
      padding: 10px;
      &:hover {
        color: red;
      }
    }
  }

  .google {
    background: transparent;
    border-radius: 10px;
    border: 0.5px solid #4285f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    margin: 5px auto;
    cursor: pointer;
    img {
      height: 20px;
      width: 20px;
    }
  }
  .signin-btn {
    display: block;
    cursor: pointer;
    background: red;
    border: none;
    margin: 5px auto;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    &:hover {
      color: #fff;
      background: #111;
    }
  }
  p {
    text-align: right;
    margin: 10px 0;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: inherit;
  }
  .login {
    align-items: center;
    justify-content: center;
    padding: 20px;
    .sign-png {
      display: none;
    }
    .form-wrapper {
      width: 100%;
      border: 1px solid #fff;
      -webkit-box-shadow: 3px 3px 5px 4px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 3px 3px 5px 4px #ccc; /* Firefox 3.5 - 3.6 */
      box-shadow: 3px 3px 5px 4px #ccc;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
