@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.contact-wrapper {
  width: 100%;

  .contact-intro {
    width: 100%;

    margin: 15px 0px 10px 0px;

    h1 {
      text-align: center;
      letter-spacing: 3px;
    }
    p {
      //line-height: 20px;
      padding: 10px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
    }
  }
  .contact-form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 10px;
    form {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      input,
      textarea {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 5px;
      }
      button {
        background: black;
        color: white;
        border: 0;
        width: 100px;
        padding: 5px 0;
        display: block;
        align-self: flex-end;
      }
    }
    .address {
      width: 36%;
    }
  }
}

@media screen and (max-width: 500px) {
  body {
    width: inherit;
  }
  .contact-wrapper {
    width: 100%;

    .contact-intro {
      width: 100%;

      margin: 15px 0px 10px 0px;

      h1 {
        text-align: center;
        letter-spacing: 3px;
      }
      p {
        //line-height: 20px;
        padding: 10px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
      }
    }
    .contact-form {
      width: 100%;
      display: block;
      justify-content: space-between;

      padding: 15px;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
      .address {
        width: unset;
      }
    }
  }
}
