@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
.header {
  position: relative;
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    background: transparent;

    a {
      color: #111;
      text-decoration: none;
    }

    .brand {
      display: flex;
      align-items: center;
      a {
        display: block;
        cursor: pointer;
        font-family: "Tangerine", cursive;
        font-size: 32px;
        margin: 0 3px;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      white-space: nowrap;

      justify-content: space-around;
      .nav-item {
        margin: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    width: inherit;
  }
  header {
    width: 320px;
    .brand {
      justify-content: space-between;
      width: 50%;

      a {
        display: block;
        cursor: pointer;
        font-family: "Tangerine", cursive;
        font-size: 32px;
      }
    }
    ul {
      .nav-item {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  body {
    width: inherit;
  }
  .header {
    width: 100%;
    .brand {
      justify-content: space-between;
      width: 50%;

      a {
        display: block;
        cursor: pointer;
        font-family: "Tangerine", cursive;
        font-size: 32px;
      }
    }
    ul {
      .nav-item {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: inherit;
  }
}
@media screen and (min-width: 500px) {
  body {
    width: inherit;
  }
}
