@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
.header {
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 10px;
  .logo > h1 {
    font-family: "Tangerine", cursive;
    font-size: 40px;
    cursor: pointer;
  }
  .navLinks {
    display: flex;
    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      a {
        display: block;
        margin: 0 10px;
        text-decoration: none;
        text-transform: capitalize;
        color: #111;
      }
    }
  }
  .users {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 150px;
    span {
      &:hover {
        color: #e97171;
      }
    }
  }
}
