footer {
  background-color: black;
  margin-top: auto;
  color: #fff;
  h4 {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-weight: 200;
  }
  .social {
    text-align: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 10px;
        font-size: 20px;
      }
    }
  }
  .others {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #fff;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: blue;
      }
    }
    .about,
    .payment {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .payment {
      li {
        margin: 10px 0;
      }
    }
  }
  .bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  body {
    width: inherit;
  }
  footer {
    .others {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      border-bottom: 1px solid #fff;
      padding: 10px;
    }
  }
}
