.slide-menu {
  top: 0;
  z-index: 50;
  width: 300px;
  height: 300px;
  background: #fff;
  transition: all 0.4s ease-in-out;
  height: auto;
  position: fixed;

  .close-btn {
    text-align: right;
    margin: 10px;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .user-section {
      margin-top: 0;
      button {
        background-image: linear-gradient(to bottom, red, purple);
        color: #ffff;
        display: block;
        width: 100px;
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        cursor: pointer;
        border: none;
        &:hover {
          background: black;
          color: orange;
        }
      }
      a {
        background-image: linear-gradient(to bottom, red, purple);
        color: #ffff;
        display: block;
        width: 100px;
        font-size: 20px;
        font-weight: 400;
        padding: 10px;
        cursor: pointer;
      }
    }

    li {
      display: block;
      margin: 10px 10px;
      a {
        color: black;
        &:hover {
          color: blue;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .slide-menu {
    width: 90%;
  }
}
