* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}
html {
  height: 100%;
}
.App {
  min-height: 100%;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 250px;
}
footer {
  height: 250px;
  margin-top: -250px;
}
