* {
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}
html {
  height: 100%;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
